<footer id="site-footer" >

<div class="wrapper">

    <div class="footer-top">

        <div id="footer-top-div1">
            <a href="{{baseUrl}}/" class="logo">
                <svg viewBox="0 0 50 50">
                    <use href="{{baseUrl}}/images/logos/logo.svg" />
                </svg>
                <span>{{site.name}}</span>
            </a>
        
        </div>

        <div class="footer-top-div2">
            {{#site.footer-socials}}
                <small>
                    <a href="{{url}}" target="_blank">
                        {{#icon}}
                            {{{icon}}}
                        {{/icon}}
                        {{^icon}}
                            {{#iconLocal}}
                                <span class="footer-local-icon" style="--icon: url('{{baseUrl}}{{.}}');"></span>
                            {{/iconLocal}}
                            {{^iconLocal}}
                                {{title}}
                            {{/iconLocal}}
                        {{/icon}}
                    </a>
                </small>
            {{/site.footer-socials}}
            {{^site.footer-socials}}
                <small>No social links</small>
            {{/site.footer-socials}}
        </div>

    </div>

    <div class="footer-mid">
        <p>
            A flexible and powerful template for Toucan, designed for clear and easy-to-maintain documentation of any product, service, or project.       
        </p>
    </div>

    <div class="footer-bottom">
        <div id="footer-bottom-div1">
            <small>{{site.name}} &copy; {{generation.formats.year}}</small>
        </div>
        <div id="footer-bottom-div2">
            <small>This site was generated using <a href="https://swift.org/" target="_blank">Swift</a> & <a href="https://github.com/binarybirds/toucan" target="_blank">Toucan</a>.</small>
        </div>
    </div>

</div>
    
</footer>