<a href="{{baseUrl}}{{link}}" class="hero-card-block-link">
  <div class="hero-card-block">
    <div class="hero-card-image">
      {{#image}}<img src="{{.}}" alt="{{title}}">{{/image}}
    </div>
    <div class="hero-card">
      <h5>{{title}}</h5>
      {{text}}
    </div>
  </div>
</a>