<div id="navigation-container" class="wrapper">
  <header id="navigation">

    <div class="topbar">
      <a href="{{baseUrl}}/" class="logo">
        <img
          src="{{baseUrl}}/images/logos/logo.png"
          alt="{{site.name}} header icon"
          title="{{site.name}}"
        />
        <span>{{site.name}}</span>
      </a>

      <div class="search-btn" id="open-modal-btn-mobile">
        <span class="search-btn-icon" style="--icon: url('{{baseUrl}}/images/mobile_search.svg');"></span>
      </div>

    </div>

    <div class="mobile-nav">
      <button id="menu-toggle" aria-label="Menu">
        <span class="menu-toggle-icon" style="--icon: url('{{baseUrl}}/images/mobile_menu.svg');"></span>
      </button>

      {{^page.category.title}}
        {{^page.title}}
            <div></div>
        {{/page.title}}

        {{#page.title}}
            <div class="nav-breadcrumbs">
                <a href="{{page.permalink}}">{{page.title}}</a>
            </div>
        {{/page.title}}
      {{/page.category.title}}

      {{#page.category.title}}
        <div class="nav-breadcrumbs">
            <a href="{{page.category.permalink}}">{{page.category.title}}</a>
            <span class="breadcrumbs-arrow" style="--icon: url('{{baseUrl}}/images/mobile_arrow.svg');"></span>
            <div class="active">{{page.title}}</div>
        </div>
      {{/page.category.title}}

    </div>

    <nav class="desktop-nav">
      <div class="menu-items">
        {{#site.navigation}}
        <div>
          {{#url}}
            <a href="{{baseUrl}}{{url}}"{{#class}} class="{{.}}"{{/class}}>
                {{#svg}}
                <span class="navigation-icon" style="--icon: url('{{baseUrl}}{{svg}}');"></span>
                {{/svg}}
                {{label}}
            </a>
          {{/url}}
          {{#webUrl}}
            <a href="{{webUrl}}" target="_blank">
                {{#svg}}
                <span class="navigation-icon" style="--icon: url('{{baseUrl}}{{svg}}');"></span>
                {{/svg}}
                {{label}}
            </a>
          {{/webUrl}}
        </div>
        {{/site.navigation}}
      </div>
    </nav>

  </header>

  <div id="mobile-menu" class="mobile-menu">

    <div class="select-wrapper">

      <div class="select-container">
        <div class="select-field">

          <select aria-label="State" id="menu-select">
            {{#site.navigation}}
              {{#url}}<option value="{{baseUrl}}{{url}}">{{label}}</option>{{/url}}
              {{#webUrl}}<option value="{{webUrl}}">{{label}}</option>{{/webUrl}}
            {{/site.navigation}}
          </select>



          <span class="select-icon" style="--icon: url('{{baseUrl}}/images/mobile-select-icon.svg');"></span>
        </div>

        <button id="close-menu" aria-label="Close Menu">✕</button>
      </div>

      <div class="menu-list">
        {{#context.categories}}
          <details class="{{permalink}}" open>
              <summary style="font-size: 1rem;"><a href="{{permalink}}">{{title}}</a></summary>
              <ul>
                  {{#guides}}
                  <li><a href="{{permalink}}">{{title}}</a></li>
                  {{/guides}}
              </ul>
          </details>
        {{/context.categories}}
      </div>

    </div>
    
  </div>

</div>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');
  const closeMenu = document.getElementById('close-menu');
  const baseUrl = window.location.origin;
  const currentUrl = window.location.href;
  const menuSelect = document.getElementById('menu-select');

  let scrollY = 0;

  function lockScroll() {
    scrollY = window.scrollY;
    document.body.style.position = 'fixed';
    document.body.style.top = `-${scrollY}px`;
    document.body.style.width = '100%';
  }

  function unlockScroll() {
    document.body.style.position = '';
    document.body.style.top = '';
    document.body.style.width = '';
    window.scrollTo(0, scrollY);
  }

  document.addEventListener('DOMContentLoaded', function () {
    const links = document.querySelectorAll('#navigation .menu-items a');
    let currentPath = window.location.pathname.toLowerCase();

    links.forEach(link => {
      const href = link.getAttribute('href');
      const linkText = link.textContent.trim().toLowerCase();

      if (currentPath == "/404.html" || !href.includes(baseUrl)) return;
      if (currentPath.includes(linkText)) {
        link.classList.add('active');
      } else if (linkText == "docs" && !currentPath.includes("license")) {
        link.classList.add('active');
      }
      
    });
  });

  if (menuToggle) {
    menuToggle.addEventListener('click', () => {
      mobileMenu.classList.add('menu-open');
      lockScroll();
    });
  }
  if (closeMenu) {
    closeMenu.addEventListener('click', () => {
      mobileMenu.classList.remove('menu-open');
      unlockScroll();
    });
  }
  if (menuSelect) {
    for (const option of menuSelect.options) {
      if (currentUrl == option.value) {
        menuSelect.value = option.value;
        break;
      }
    }

    menuSelect.addEventListener('change', (e) => {
      const url = e.target.value;
      if (!url) return;
      if (url.includes(baseUrl)) {
        window.location.href = url;
      } else {
        window.open(url, '_blank');
        menuSelect.value = currentUrl;
      }
    });
  }

  document.addEventListener('click', (event) => {
    const mobileMenu = document.getElementById('mobile-menu');
    const menuToggle = document.getElementById('menu-toggle');
    if (mobileMenu && menuToggle) {
        if (mobileMenu.classList.contains('menu-open')) {
          if (!mobileMenu.contains(event.target) && !menuToggle.contains(event.target)) {
            mobileMenu.classList.remove('menu-open');
            unlockScroll();
          }
        }
    }
  });

  document.addEventListener('touchmove', (e) => {
    if (mobileMenu.classList.contains('menu-open') && !mobileMenu.contains(e.target)) {
      e.preventDefault();
    }
  }, { passive: false });

</script>