{{<html}}
{{$main}}
<div id="docs">
    <div class="left">
        {{> partials.docs.categories }}
    </div>
    <div class="center">
        <article>

            {{#page.category}}
                <div class="guide-category-link">
                    <a href="{{permalink}}">{{title}}</a>
                    {{#page.title}}
                    <span class="breadcrumbs-arrow" style="--icon: url('{{baseUrl}}/images/mobile_arrow.svg');"></span>
                    <div class="active">{{page.title}}</div>
                    {{/page.title}}
                </div>
            {{/page.category}}
            
            {{& page.contents.html}}

            <div class="extra-space"></div>
            
            <section>
                <div class="grid grid-2">
                    {{^page.prev}}
                    <div class="prev disabled">
                        <svg fill="none" class="nav-arrow nav-arrow--left" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="m7.825 13 5.6 5.6-1.425 1.4-8-8 8-8 1.425 1.4-5.6 5.6h12.175v2z" fill="#ccc"/>
                        </svg>
                        <div class="nav-text">
                            <div class="nav-category-title">Previous</div>
                        </div>
                    </div>
                    {{/page.prev}}

                    {{#page.prev}}
                    <a href="{{permalink}}" class="nav-link">
                    <div class="prev">
                        <svg fill="none" class="nav-arrow nav-arrow--left" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="m7.825 13 5.6 5.6-1.425 1.4-8-8 8-8 1.425 1.4-5.6 5.6h12.175v2z" fill="#005D59"/>
                        </svg>
                        <div class="nav-text">
                            <div class="nav-category-title">Previous - {{category.title}}</div>
                            <div class="nav-title">{{title}}</div>
                        </div>
                    </div>
                    </a>
                    {{/page.prev}}

                    {{^page.next}}
                    <div class="next disabled">
                        <div class="nav-text">
                            <div class="nav-category-title">Next</div>
                        </div>
                        <svg class="nav-arrow nav-arrow--right" fill="none" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="m16.175 13h-12.175v-2h12.175l-5.6-5.6 1.425-1.4 8 8-8 8-1.425-1.4z" fill="#ccc"/>
                        </svg>
                    </div>
                    {{/page.next}}

                    {{#page.next}}
                    <a href="{{permalink}}" class="nav-link">
                    <div class="next">
                        <div class="nav-text">
                            <div class="nav-category-title">Next - {{category.title}}</div>
                            <div class="nav-title">{{title}}</div>
                        </div>
                        <svg class="nav-arrow nav-arrow--right" fill="none" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="m16.175 13h-12.175v-2h12.175l-5.6-5.6 1.425-1.4 8 8-8 8-1.425-1.4z" fill="#005D59"/>
                        </svg>
                    </div>
                    </a>
                    {{/page.next}}

                </div>
            </section>

        </article>
    </div>
    <div class="right">
        {{> partials.toc }}
    </div>
</div>
{{/main}}
{{/html}}

