{{<html}}
{{$main}}
<div id="docs">
    <div class="left">
        {{> partials.docs.categories }}
    </div>
    <div class="center">
        <article>

            {{#page.category}}
            <a href="{{permalink}}">{{title}}</a>
            {{/page.category}}
            <br/>
            <br/>
            {{& page.contents.html}}

            <div class="extra-space"></div>
            
            <section>
                <div class="grid grid-2">
                    {{^page.prev}}
                    <div></div>
                    {{/page.prev}}

                    {{#page.prev}}
                    <a href="{{permalink}}" class="nav-link">
                    <div class="prev">
                        <svg class="nav-arrow nav-arrow--left" viewBox="0 0 24 24" aria-hidden="true">
                        <use href="/images/arrow_back.svg" />
                        </svg>
                        <div class="nav-text">
                        <h4>Prev - {{category.title}}</h4>
                        <div class="nav-title">{{title}}</div>
                        </div>
                    </div>
                    </a>
                    {{/page.prev}}

                    {{^page.next}}
                    <div></div>
                    {{/page.next}}

                    {{#page.next}}
                    <a href="{{permalink}}" class="nav-link">
                    <div class="next">
                        <div class="nav-text">
                        <h4>Next - {{category.title}}</h4>
                        <div class="nav-title">{{title}}</div>
                        </div>
                        <svg class="nav-arrow nav-arrow--right" viewBox="0 0 24 24" aria-hidden="true">
                        <use href="/images/arrow_forward.svg" />
                        </svg>
                    </div>
                    </a>
                    {{/page.next}}

                </div>
            </section>

        </article>
    </div>
    <div class="right">
        {{> partials.toc }}
    </div>
</div>
{{/main}}
{{/html}}

