{{<html}}
{{$main}}
<div id="docs">
    <div class="left">
        {{> partials.docs.categories }}
    </div>
    <div class="center">
        <article>
            {{& page.contents.html}}

            {{#empty(context.categories)}}
            {{/empty(context.categories)}}
            {{^empty(context.categories)}}
            <h2>Chapters</h2>
            <ul>
            {{#context.categories}}
                <li><a href="{{permalink}}">{{title}}</a></li>
            {{/context.categories}}
            </ul>
            {{/empty(context.categories)}}


        </article>
    </div>
    <div class="right">
        {{> partials.toc }}
    </div>
</div>
{{/main}}
{{/html}}
