::-moz-selection {
  color: var(--link-color);
  background: var(--background-color);
}

::selection {
  color: var(--text-color-3);
  background: var(--background-color-3);
}
a:link {
  color: var(--link-color);
}
a:visited {
  color: var(--link-color-visited);
}
a:hover {
  color: var(--link-color-hover);
  text-decoration: none;
}
a:active {
  color: var(--link-color-hover);
}

html {
  font-family: 'Lato';
}
body {
  color: var(--text-color);
}

h1 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -0.063rem;
  vertical-align: middle;
  margin-bottom: 30px;
}
h2 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.031rem;
  vertical-align: middle;
  margin-top: 17px;
  margin-bottom: 12px;
}
h3 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0rem;
  vertical-align: middle;
  margin-top: 16;
  margin-bottom: 11px;
}
h4 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0rem;
  vertical-align: middle;
  margin-top: 15px;
  margin-bottom: 10px;
}
h5 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0rem;
  vertical-align: middle;
  margin-top: 14px;
  margin-bottom: 9px;
}
h6 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0rem;
  vertical-align: middle;
  margin-top: 13px;
  margin-bottom: 8px;
}
hr {
  border: none;
  border-bottom: 1px solid var(--background-color-3);
  width: 100%;
}
hr.spacer {
  border: none;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 16px;
  margin-bottom: 32px;
  color: var(--text-color-2);
  margin-bottom: 32px;
}
pre {
  font-size: 1rem;
  line-height: 1.5rem;
  background: var(--background-color);
  margin: 2rem auto;
  border: 0.5px solid var(--background-color-2);
  border-radius: 0.75rem;
  margin-bottom: 32px;
}
pre code {
  text-shadow: none;
  font-family: 'Montserrat';
  display: block;
  overflow-x: auto;
  white-space: pre;
  border-radius: 0.75rem;
  -webkit-overflow-scrolling: touch;
}
pre code a {
  border-bottom: 1px dotted var(--text-color);
}
ul {
  padding-inline-start: 20px;
}
li {
  font-size: 1rem;
  color: var(--text-color-2);
  margin-bottom: 16px;
}
p code,
li code {
  font-family: 'Montserrat';
  font-weight: bold;
  background: var(--background-color-1);
  padding: 2px 8px;
  border-radius: 0.5rem;
}
p code a,
li code a {
  font-weight: normal;
}
li p {
  margin: 0;
}
p code a,
li code a {
  border-bottom: 1px dotted var(--text-color);
}
section {
  margin-bottom: 32px;
}
img.small {
  width: 32px;
}
img.medium {
  width: 64px;
}
img.large {
  width: 128px;
}
img.rounded {
  border-radius: 50%;
}
blockquote p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  border: 0.5px solid var(--background-color-2);
}

.selection-off {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background: radial-gradient(
    circle at top right,
    var(--primary-color-200) 1%,
    var(--white-color) 40%
  );
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: var(--footer-background-color);
  }
  .bg {
    background: radial-gradient(
      circle at top right,
      var(--primary-color-900) 1%,
      var(--footer-background-color) 40%
    );
  }
}
