#site-footer {
  margin-top: auto;
  padding: 40px 0;
  border-top: 1px solid var(--footer-background-color);
  color: var(--text-color-1);
}

#footer-top-div1 .logo {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-color-1);
}

#footer-top-div1 > a {
  display: flex;
  align-items: center;
  line-height: normal;
  text-align: left;
  font-size: 2rem;
}

#footer-top-div1 > a svg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  flex-shrink: 0;
}

.footer-mid {
  text-align: left;
  max-width:389px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 26px;
  margin-bottom: 26px;
}

.footer-mid p {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 0.688rem;
  line-height: 160%;
  letter-spacing: 0.5px;
  color: var(--text-color-2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-top-div2 {
  text-align: right;
}
.footer-top-div2 a{
  margin-right: 10px;
  text-decoration: none;
}
.footer-top-div2 a svg{
  fill: var(--text-color-1);
}
.footer-top-div2 a:hover {
  color: var(--link-color-hover2);
}

.footer-local-icon {
  display: inline-block; 
  width: 24px;
  height: 24px;
  background-color: var(--text-color-1);
  -webkit-mask: var(--icon) center / contain no-repeat;
  mask: var(--icon) no-repeat center / contain;
  vertical-align: middle;
}

.footer-bottom small,
.footer-bottom a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  vertical-align: baseline;
  color: var(--text-color-1);
}

.footer-bottom a {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;
}

#footer-bottom-div1 {
  flex: 1;
  text-align: left;
  margin-bottom: 10px;
}

#footer-bottom-div2 {
  flex: 1;
  text-align: right;
  margin-bottom: 10px;
}

.footer-social small a svg {
  fill: var(--link-color);
}

@media (max-width: 600px) {
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  #div2 {
    text-align: left;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-top-div2 {
    margin-top: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  .footer-social small a svg {
    fill: var(--text-color);
  }
}
